<a href="https://colab.research.google.com/github/rayankinikhita/workshop/blob/main/salary_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dataset = pd.read_csv('Salary_Data_SLR.csv')
dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [ ]:
X=dataset.iloc[:,0].values

Y=dataset.iloc[:,-1].values
X=X.reshape(-1,1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
print(X_train.shape)
print(Y_train.shape)

(24, 1)
(24,)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)
print(regressor.predict([[7]]))

[91346.51115359]
[129760.89508703]

In [ ]:
Y_pred = regressor.predict(X_test)
print(Y_pred)

[ 89425.79195692 110553.70312031  75020.39798188  54852.84641682
  92306.87075193  51971.76762181]

In [ ]:
from sklearn.metrics import r2_score
print(r2_score(Y_pred,Y_test))

1.0