<a href="https://colab.research.google.com/github/rayankinikhita/workshop/blob/main/startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
dataset = pd.read_csv('startups_MLR.csv')
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [53]:
X=dataset.iloc[:,:4].values
print(X)

[[165349.2 136897.8 471784.1 'New York']
 [162597.7 151377.59 443898.53 'California']
 [153441.51 101145.55 407934.54 'Florida']
 [144372.41 118671.85 383199.62 'New York']
 [142107.34 91391.77 366168.42 'Florida']
 [131876.9 99814.71 362861.36 'New York']
 [134615.46 147198.87 127716.82 'California']
 [130298.13 145530.06 323876.68 'Florida']
 [120542.52 148718.95 311613.29 'New York']
 [123334.88 108679.17 304981.62 'California']
 [101913.08 110594.11 229160.95 'Florida']
 [100671.96 91790.61 249744.55 'California']
 [93863.75 127320.38 249839.44 'Florida']
 [91992.39 135495.07 252664.93 'California']
 [119943.24 156547.42 256512.92 'Florida']
 [114523.61 122616.84 261776.23 'New York']
 [78013.11 121597.55 264346.06 'California']
 [94657.16 145077.58 282574.31 'New York']
 [91749.16 114175.79 294919.57 'Florida']
 [86419.7 153514.11 0.0 'New York']
 [76253.86 113867.3 298664.47 'California']
 [78389.47 153773.43 299737.29 'New York']
 [73994.56 122782.75 303319.26 'Florida']
 [67532.53 105751.03 304768.73 'Florida']
 [77044.01 99281.34 140574.81 'New York']
 [64664.71 139553.16 137962.62 'California']
 [75328.87 144135.98 134050.07 'Florida']
 [72107.6 127864.55 353183.81 'New York']
 [66051.52 182645.56 118148.2 'Florida']
 [65605.48 153032.06 107138.38 'New York']
 [61994.48 115641.28 91131.24 'Florida']
 [61136.38 152701.92 88218.23 'New York']
 [63408.86 129219.61 46085.25 'California']
 [55493.95 103057.49 214634.81 'Florida']
 [46426.07 157693.92 210797.67 'California']
 [46014.02 85047.44 205517.64 'New York']
 [28663.76 127056.21 201126.82 'Florida']
 [44069.95 51283.14 197029.42 'California']
 [20229.59 65947.93 185265.1 'New York']
 [38558.51 82982.09 174999.3 'California']
 [28754.33 118546.05 172795.67 'California']
 [27892.92 84710.77 164470.71 'Florida']
 [23640.93 96189.63 148001.11 'California']
 [15505.73 127382.3 35534.17 'New York']
 [22177.74 154806.14 28334.72 'California']
 [1000.23 124153.04 1903.93 'New York']
 [1315.46 115816.21 297114.46 'Florida']
 [0.0 135426.92 0.0 'California']
 [542.05 51743.15 0.0 'New York']
 [0.0 116983.8 45173.06 'California']]

In [47]:
Y=dataset.iloc[:,-1].values
print(Y)

[192261.83 191792.06 191050.39 182901.99 166187.94 156991.12 156122.51
 155752.6  152211.77 149759.96 146121.95 144259.4  141585.52 134307.35
 132602.65 129917.04 126992.93 125370.37 124266.9  122776.86 118474.03
 111313.02 110352.25 108733.99 108552.04 107404.34 105733.54 105008.31
 103282.38 101004.64  99937.59  97483.56  97427.84  96778.92  96712.8
  96479.51  90708.19  89949.14  81229.06  81005.76  78239.91  77798.83
  71498.49  69758.98  65200.33  64926.08  49490.75  42559.73  35673.41
  14681.4 ]

In [54]:
import numpy as np

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[('encoders',OneHotEncoder(),[-1])],remainder='passthrough')

X=ct.fit_transform(X)
X

array([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1],
       [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53],
       [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54],
       [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62],
       [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42],
       [0.0, 0.0, 1.0, 131876.9, 99814.71, 362861.36],
       [1.0, 0.0, 0.0, 134615.46, 147198.87, 127716.82],
       [0.0, 1.0, 0.0, 130298.13, 145530.06, 323876.68],
       [0.0, 0.0, 1.0, 120542.52, 148718.95, 311613.29],
       [1.0, 0.0, 0.0, 123334.88, 108679.17, 304981.62],
       [0.0, 1.0, 0.0, 101913.08, 110594.11, 229160.95],
       [1.0, 0.0, 0.0, 100671.96, 91790.61, 249744.55],
       [0.0, 1.0, 0.0, 93863.75, 127320.38, 249839.44],
       [1.0, 0.0, 0.0, 91992.39, 135495.07, 252664.93],
       [0.0, 1.0, 0.0, 119943.24, 156547.42, 256512.92],
       [0.0, 0.0, 1.0, 114523.61, 122616.84, 261776.23],
       [1.0, 0.0, 0.0, 78013.11, 121597.55, 264346.06],
       [0.0, 0.0, 1.0, 94657.16, 145077.58, 282574.31],
       [0.0, 1.0, 0.0, 91749.16, 114175.79, 294919.57],
       [0.0, 0.0, 1.0, 86419.7, 153514.11, 0.0],
       [1.0, 0.0, 0.0, 76253.86, 113867.3, 298664.47],
       [0.0, 0.0, 1.0, 78389.47, 153773.43, 299737.29],
       [0.0, 1.0, 0.0, 73994.56, 122782.75, 303319.26],
       [0.0, 1.0, 0.0, 67532.53, 105751.03, 304768.73],
       [0.0, 0.0, 1.0, 77044.01, 99281.34, 140574.81],
       [1.0, 0.0, 0.0, 64664.71, 139553.16, 137962.62],
       [0.0, 1.0, 0.0, 75328.87, 144135.98, 134050.07],
       [0.0, 0.0, 1.0, 72107.6, 127864.55, 353183.81],
       [0.0, 1.0, 0.0, 66051.52, 182645.56, 118148.2],
       [0.0, 0.0, 1.0, 65605.48, 153032.06, 107138.38],
       [0.0, 1.0, 0.0, 61994.48, 115641.28, 91131.24],
       [0.0, 0.0, 1.0, 61136.38, 152701.92, 88218.23],
       [1.0, 0.0, 0.0, 63408.86, 129219.61, 46085.25],
       [0.0, 1.0, 0.0, 55493.95, 103057.49, 214634.81],
       [1.0, 0.0, 0.0, 46426.07, 157693.92, 210797.67],
       [0.0, 0.0, 1.0, 46014.02, 85047.44, 205517.64],
       [0.0, 1.0, 0.0, 28663.76, 127056.21, 201126.82],
       [1.0, 0.0, 0.0, 44069.95, 51283.14, 197029.42],
       [0.0, 0.0, 1.0, 20229.59, 65947.93, 185265.1],
       [1.0, 0.0, 0.0, 38558.51, 82982.09, 174999.3],
       [1.0, 0.0, 0.0, 28754.33, 118546.05, 172795.67],
       [0.0, 1.0, 0.0, 27892.92, 84710.77, 164470.71],
       [1.0, 0.0, 0.0, 23640.93, 96189.63, 148001.11],
       [0.0, 0.0, 1.0, 15505.73, 127382.3, 35534.17],
       [1.0, 0.0, 0.0, 22177.74, 154806.14, 28334.72],
       [0.0, 0.0, 1.0, 1000.23, 124153.04, 1903.93],
       [0.0, 1.0, 0.0, 1315.46, 115816.21, 297114.46],
       [1.0, 0.0, 0.0, 0.0, 135426.92, 0.0],
       [0.0, 0.0, 1.0, 542.05, 51743.15, 0.0],
       [1.0, 0.0, 0.0, 0.0, 116983.8, 45173.06]], dtype=object)

In [41]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X[:,[3,4,5]]=sc.fit_transform(X[:,[3,4,5]])
X

array([[0.0, 0.0, 1.0, 2.016411493158463, 0.560752914530775,
        2.153943088571744],
       [1.0, 0.0, 0.0, 1.9558603364325031, 1.0828065830760816,
        1.9236003956421444],
       [0.0, 1.0, 0.0, 1.7543637361407838, -0.728257027688616,
        1.6265276693147561],
       [0.0, 0.0, 1.0, 1.5547836905426, -0.09636463069766506,
        1.4222102362410112],
       [0.0, 1.0, 0.0, 1.5049372036935103, -1.0799193536742715,
        1.2815277086174908],
       [0.0, 0.0, 1.0, 1.2798000145910104, -0.7762390705391569,
        1.254210457936233],
       [1.0, 0.0, 0.0, 1.3400664059278973, 0.932147208470259,
        -0.6881499302965385],
       [0.0, 1.0, 0.0, 1.245056656530228, 0.8719800111141446,
        0.9321859780995744],
       [0.0, 0.0, 1.0, 1.0303688607579797, 0.9869521013922115,
        0.8308869091888104],
       [1.0, 0.0, 0.0, 1.0918192071128048, -0.45664024606220516,
        0.7761074398639789],
       [0.0, 1.0, 0.0, 0.6203982479442909, -0.387599089246799,
        0.14980726713928444],
       [1.0, 0.0, 0.0, 0.5930854179840064, -1.0655395950477577,
        0.3198336232146925],
       [0.0, 1.0, 0.0, 0.443259871651734, 0.21544906370150346,
        0.32061744144512827],
       [1.0, 0.0, 0.0, 0.4020776028344736, 0.5101789529969027,
        0.34395678776100613],
       [0.0, 1.0, 0.0, 1.0171807462012896, 1.2691993910695392,
        0.3757422731918644],
       [0.0, 0.0, 1.0, 0.897913122895197, 0.04586785346643834,
        0.41921870200875044],
       [1.0, 0.0, 0.0, 0.09444119571251268, 0.009118419682416482,
        0.4404462244359869],
       [0.0, 0.0, 1.0, 0.46072012724248235, 0.8556663184470973,
        0.5910167235290299],
       [0.0, 1.0, 0.0, 0.3967249377970558, -0.258465366758051,
        0.692992061788785],
       [0.0, 0.0, 1.0, 0.279441649508946, 1.1598365748038906,
        -1.743126975815244],
       [1.0, 0.0, 0.0, 0.055726086691925796, -0.26958765072829755,
        0.7239259946706323],
       [0.0, 0.0, 1.0, 0.10272359925435613, 1.1691860859036491,
        0.7327877912137453],
       [0.0, 1.0, 0.0, 0.006006577918180136, 0.051849564813657704,
        0.7623758762266407],
       [0.0, 1.0, 0.0, -0.1362007240254339, -0.5622112680876802,
        0.7743489082686847],
       [0.0, 0.0, 1.0, 0.07311460077043454, -0.7954691674668067,
        -0.5819392972608189],
       [1.0, 0.0, 0.0, -0.19931168832921076, 0.6564891392487076,
        -0.6035167252654742],
       [0.0, 1.0, 0.0, 0.035370202824963816, 0.8217179162739824,
        -0.6358354945508682],
       [0.0, 0.0, 1.0, -0.0355189938410845, 0.23506854332187768,
        1.1742711585795818],
       [0.0, 1.0, 0.0, -0.1687927169829892, 2.2101405048017817,
        -0.7671894370529015],
       [0.0, 0.0, 1.0, -0.17860854033245227, 1.1424567667457448,
        -0.858133663312941],
       [0.0, 1.0, 0.0, -0.2580743687669209, -0.2056286591320106,
        -0.9903571657803866],
       [0.0, 0.0, 1.0, -0.276958231237045, 1.1305539146923973,
        -1.0144194520428103],
       [1.0, 0.0, 0.0, -0.22694867549050335, 0.28392381291480695,
        -1.3624497800708546],
       [0.0, 1.0, 0.0, -0.4011289247661228, -0.6593240327323,
        0.029817243429086353],
       [1.0, 0.0, 0.0, -0.6006821223137137, 1.3105352482185166,
        -0.0018786179339011432],
       [0.0, 0.0, 1.0, -0.6097499413683863, -1.3086575295015483,
        -0.04549315867841802],
       [0.0, 1.0, 0.0, -0.9915701530696953, 0.2059246909295494,
        -0.08176257339610711],
       [1.0, 0.0, 0.0, -0.6525323099877709, -2.5259940157948084,
        -0.11560825594840005],
       [0.0, 0.0, 1.0, -1.1771775488623133, -1.997270365938939,
        -0.21278486554560597],
       [1.0, 0.0, 0.0, -0.7738203591339543, -1.3831215613922077,
        -0.2975832762317313],
       [1.0, 0.0, 0.0, -0.9895770154121737, -0.10090021798884821,
        -0.31578588311480554],
       [0.0, 1.0, 0.0, -1.0085337197244795, -1.3207958138681826,
        -0.384552406622527],
       [1.0, 0.0, 0.0, -1.1021055579535233, -0.9069375345894103,
        -0.5205959594519419],
       [0.0, 0.0, 1.0, -1.2811336408890233, 0.21768152447312547,
        -1.4496046842207662],
       [1.0, 0.0, 0.0, -1.134305393319635, 1.2064193637373355,
        -1.509074176887117],
       [0.0, 0.0, 1.0, -1.6003503604559541, 0.10125393611123483,
        -1.7273999756732545],
       [0.0, 1.0, 0.0, -1.5934132203015927, -0.19932174112845982,
        0.7111224738005981],
       [1.0, 0.0, 0.0, -1.6223620208201215, 0.5077218760979036,
        -1.743126975815244],
       [0.0, 0.0, 1.0, -1.6104333439154124, -2.5094088368614447,
        -1.743126975815244],
       [1.0, 0.0, 0.0, -1.6223620208201215, -0.15722550611007818,
        -1.3699847273953474]], dtype=object)

In [55]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
print(X_train.shape)
print(Y_train.shape)

(40, 6)
(40,)

In [57]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [60]:
Y_pred =regressor.predict(X_test)
print(Y_pred)

[ 45327.29241206 129837.45103746 152667.77723269 112857.10281941
 101756.06757872 101201.21489374 130979.57603136 116332.02395549
 159906.18296311  98796.37399043]

In [64]:
from sklearn.metrics import r2_score
print(r2_score(Y_pred,Y_test))

0.8902060135048099